<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer class="blog-footer" data-th-fragment="footer">
	<a id="goToTop" href="#">
		<i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>
	</a>
    <div class="container mb-2 mt-5">
        <div class="row  text-secondary justify-content-center">
            Copyright © 2019 YLBlog&nbsp;|&nbsp;Powered by<a class="text-secondary" target="_blank" href="https://github.com/waylau/new-star-blog">&nbsp;new-star-blog</a>&nbsp;|&nbsp;<a href="mailto:yljungg@163.com" class="text-secondary"><i class="fa fa-envelope-o">&nbsp;yljungg@163.com</i></a>
        </div>
    </div>
	
   	<!-- JavaScript -->
    <script type="text/javascript"  th:src="@{/webjars/jquery/3.4.0/jquery.js}"></script>
    <script type="text/javascript"  th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
    <!--<script type="text/javascript"  th:src="@{/webjars/popper.js/1.14.3/umd/popper.js}"></script>-->


    <!--<script src="../../js/jquery-3.1.1.min.js" th:src="@{/blog/js/jquery-3.1.1.min.js}"></script>-->
    <!--<script src="../../js/jquery.form.min.js" th:src="@{/blog/js/jquery.form.min.js}"></script>-->
    <!--<script src="../../js/tether.min.js" th:src="@{/blog/js/tether.min.js}"></script>-->
    <!--<script src="../../js/bootstrap.min.js" th:src="@{/blog/js/bootstrap.min.js}"></script>-->
    <script src="../../js/nprogress.js" th:src="@{/blog/js/nprogress.js}"></script>
    <script src="../../js/thinker-md.vendor.min.js" th:src="@{/blog/js/thinker-md.vendor.min.js}"></script>
    <script src="../../js/jquery.tag-editor.min.js" th:src="@{/blog/js/jquery.tag-editor.min.js}"></script>
    <script src="../../js/chosen.jquery.js" th:src="@{/blog/js/chosen.jquery.js}"></script>
    <script src="../../js/toastr.min.js" th:src="@{/blog/js/toastr.min.js}"></script>
    <script src="../../js/cropbox.js" th:src="@{/blog/js/cropbox.js}"></script>
    <script src="../../js/thymeleaf-bootstrap-paginator.js" th:src="@{/blog/js/thymeleaf-bootstrap-paginator.js}"></script>
    <script src="../../js/catalog-generator.js" th:src="@{/blog/js/catalog-generator.js}"></script>
    <script src="../../js/main.js" th:src="@{/blog/js/main.js}"></script>
    <script src="../../js/main.js" th:src="@{/blog/js/jquery.caret.min.js}"></script>
    <script src="../../js/index.js" th:src="@{/blog/js/index.js}"></script>
</footer>

</body>
</html>